%% Proffero Counters example configuration file.

%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

[
 {proffero_counters,
  [
   %% TCP port number to listen to for incoming connections.
   %% Default: 8907
   {tcp_bind_port, 8907},

   %% UDP port number to listen to for incoming connections.
   %% Default: 8907
   {udp_bind_port, 8907}
  ]}
].
