Source: proffero-counters
Section: non-free/misc
Priority: extra
Maintainer: Aleksey Morarash <aleksey.morarash@proffero.com>
Build-Depends: debhelper (>= 8.0.0), erlang-base, erlang-dev, erlang-tools,
 erlang-edoc, erlang-eunit, erlang-dialyzer, proffero-erlang-logger-dev,
 proffero-erlang-lib
Standards-Version: 3.9.3
Homepage: https://github.com/Proffero/proffero-counters
Vcs-Browser: https://github.com/Proffero/proffero-counters
Vcs-Git: https://github.com/Proffero/proffero-counters.git

Package: proffero-counters
Architecture: all
Depends: erlang-base, proffero-erlang-config, proffero-erlang-lib,
 proffero-erlang-logger
Description: Non-persistent counters storage interface
 Provides an API for target Erlang application to update various
 counters and an API for external processes to fetch current values
 for the counters.

Package: proffero-counters-doc
Architecture: all
Description: Counters storage interface developer documentation.
 Contains generated HTML documentation for the interface source code.
