Source: envx-counters
Section: non-free/misc
Priority: extra
Maintainer: Aleksey Morarash <aleksey.morarash@envisionx.co>
Build-Depends: debhelper, socat, golang
Standards-Version: 4.1.4
Homepage: https://github.com/ENVISIONX/envx-counters
Vcs-Browser: https://github.com/ENVISIONX/envx-counters
Vcs-Git: https://github.com/ENVISIONX/envx-counters.git

Package: envx-counters-cli
Architecture: all
Depends: socat
Description: ENVISIONX non-persistent counters storage CLI
 Command line tool to poll ENVISIONX non-persistent counters storage.

Package: envx-golang-counters
Architecture: all
Description: Non-persistent counters storage interface
 Provides an API for target Go application to update various
 counters and an API for external processes to fetch current values
 for the counters.
