Source: envx-counters
Section: non-free/misc
Priority: extra
Maintainer: Aleksey Morarash <aleksey.morarash@envisionx.co>
Build-Depends: debhelper, erlang-base, erlang-dev, erlang-tools,
 erlang-edoc, erlang-eunit, envx-erlang-lib, envx-erlang-config,
 envx-erlang-logger, envx-erlang-logger-dev, python
Standards-Version: 3.9.3
Homepage: https://github.com/EnvisionX/envx-counters
Vcs-Browser: https://github.com/EnvisionX/envx-counters
Vcs-Git: https://github.com/EnvisionX/envx-counters.git

Package: envx-counters
Architecture: all
Depends: erlang-base, envx-erlang-config, envx-erlang-lib,
 envx-erlang-logger
Description: Non-persistent counters storage interface
 Provides an API for target Erlang application to update various
 counters and an API for external processes to fetch current values
 for the counters.

Package: envx-counters-doc
Architecture: all
Description: Counters storage interface developer documentation.
 Contains generated HTML documentation for the interface source code.

Package: envx-counters-cli
Architecture: all
Depends: python
Description: EnvisionX non-persistent counters storage CLI
 Command line tool to poll EnvisionX non-persistent counters storage.
