#!/usr/bin/make -f
# -*- makefile -*-

# This has to be exported to make some magic below work.
export DH_OPTIONS

%:
	dh $@

# Build the binary and docs.
# Also all tests available will run here BEFORE the build because
# during tests 'clean' target is called (debhelper runs
# the dh_auto_test target after the dh_auto_build target).
override_dh_auto_build:
	$(MAKE) clean compile
	$(MAKE) html

# Do not run any tests after the build
# (see override_dh_auto_build comment for details)
override_dh_auto_test:

NAME = counters
VERSION = $(shell awk '{gsub("[()]","",$$2);print$$2;exit}' debian/changelog)
DESTDIR = debian/envx-$(NAME)
DOC_DESTDIR = debian/envx-$(NAME)-doc
CLI_DESTDIR = debian/envx-$(NAME)-cli
ERL_APP_DIR = $(DESTDIR)/usr/lib/erlang/lib/envx_$(NAME)-$(VERSION)
override_dh_install:
	install -m 755 -d $(ERL_APP_DIR)/ebin
	install -m 644 ebin/*.app ebin/*.beam $(ERL_APP_DIR)/ebin
	install -m 755 -d $(DOC_DESTDIR)/usr/share/doc/envx-$(NAME)-doc
	install -m 644 doc/*.html doc/*.css doc/*.png \
	    $(DOC_DESTDIR)/usr/share/doc/envx-$(NAME)-doc
	install -m 755 -d $(CLI_DESTDIR)/usr/bin
	install -m 755 clients/cli/envx-counters-cli.py \
	    $(CLI_DESTDIR)/usr/bin/envx-counters-cli
